.about {
  position: relative;

  h4 {
    transform: rotate(270deg);
    transform-origin: 0% 0%;
    position: absolute;
    left: calc(50% + 3.5rem);
    top: 9.8rem;
    opacity: 0.3;
  }

  p {
    width: 38ch;
    margin-bottom: 3rem;
  }

  p:last-of-type {
    margin-top: 0;
  }
}
