.about {
  position: relative;

  h4 {
    margin-top: 9.7rem;
    padding-top: 8rem;
  }

  p {
    max-width: 38ch;
    margin-bottom: 3rem;
  }

  p:last-of-type {
    margin-top: 0;
  }

  &__link {
    color: $base-color-accent;

    &:after {
      transform: scaleX(1);
    }
  }
}
