button {
  display: inline-block;
  justify-self: flex-start;
  border: none;
  padding: 0.7rem 2.75rem;
  margin: 0;
  text-decoration: none;
  background: rgba(0, 0, 0, 0);
  color: $primary-color-blue;
  border: 1px solid $primary-color-blue;
  border-radius: 30px;
  font-size: var(--p);
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #383838;
  color: #fff;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.95);
}

.divider {
  width: 10rem;
  height: 1rem;
  background-color: $hero-bar-color;
}
