.footer {
  color: $base-color-white;
  background-color: #515567;
  background-image: $pattern-topo;

  h1 {
    text-transform: uppercase;
  }

  h3 {
    font-weight: 400;
  }

  h2 {
    font-weight: 900;
  }

  .divider {
    background-color: hsla(229, 12%, 53%, 1);
  }

  .closing {
    background-color: hsla(229, 12%, 38%, 0.7);
    padding: 4rem;

    p {
      text-align: left;
    }

    a {
      background: rgba(0, 0, 0, 0);
    }

    &__title {
      color: hsla(233, 44%, 94%, 1);
      font-size: 5rem;
    }

    &__link {
      height: inherit;
      color: hsla(232, 100%, 89%, 1);
      text-decoration: none;

      &:hover {
        color: none;
      }
    }
  }

  &__terms {
    display: flex;
    justify-content: center;

    p {
      font-size: 1.2rem;
      color: hsla(229, 12%, 75%, 1);
    }
  }
}

.social {
  ul {
    list-style: none;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  &__icon {
    width: 4rem;
    fill: $base-color-white;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active {
      opacity: 0.6;
      transform: scale(0.95);
    }
  }

  &__container {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-row-gap: 1rem;
  }

  a {
    &:after {
      visibility: hidden;
    }
  }
}
