.hero {
  .foreground {
    width: 100%;
    position: relative;

    .heading {
      width: fit-content;
      margin: 0 auto;
      h4 {
        color: hsla(0, 0%, 48%, 1);
      }

      h2 {
        margin-bottom: 4rem;
      }

      .ugly {
        font-weight: 400;
      }

      .pretty {
        font-style: italic;
      }
    }

    .browser {
      --width: 100%;
      display: block;
      width: 30vw;
      height: 18vw;
      min-width: 40rem;
      min-height: 27rem;
      border-radius: 8px;
      margin: 0 auto;
      position: relative;
      background-color: $browser-bg-color;
      box-shadow: 2px 16px 33px -6px hsla(0, 0%, 28%, 0.35);

      .url {
        background-color: $url-color;
        height: 1.5rem;
        border-radius: 8px 8px 0 0;
      }

      .bar {
        display: block;
        height: 0.8rem;
        background-color: $bar-color;
        border-radius: 10px;

        &__wrapper {
          display: grid;
          grid-row-gap: 1rem;
          margin-left: 2rem;
          margin-top: 2rem;
        }

        &--sm {
          @extend .bar;
          visibility: hidden;
        }

        &--md {
          @extend .bar;
          visibility: hidden;
        }

        &--lg {
          @extend .bar;
          visibility: hidden;
        }
      }

      .panel {
        display: block;
        margin-top: 2rem;
        background-color: $panel-color;
        border-radius: 8px;

        &__wrapper {
          display: grid;
          grid-template-columns: 1fr 60%;
          grid-gap: 2rem;
          height: 50%;
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }

      .sphere {
        display: block;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        position: absolute;
        top: 8rem;
        left: 60%;
        background: #3a6186;
        background: -webkit-linear-gradient(
          left top,
          rgba(255, 255, 255, 0) 20%,
          rgba(242, 222, 145, 1) 100%
        );
        background: linear-gradient(
          left top,
          rgba(255, 255, 255, 0) 20%,
          rgba(242, 222, 145, 1) 100%
        );
      }

      .dots {
        height: 7.5rem;
        width: 7.5rem;
        background-image: radial-gradient(#0f0f0f 35%, transparent 0);
        background-size: 1.3rem 1.3rem;
        background-position: 0 0;
        position: absolute;
        top: 4.3rem;
        left: 70%;
      }
    }

    .cta {
      margin-top: 7rem;
      text-align: center;
      line-height: 250%;

      &__btn {
        margin-top: 1rem;
      }
    }
  }

  .background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;

    .donut {
      border-radius: 50%;
      position: absolute;

      &--lg {
        border: 5rem solid $bg-shape-color;
        height: 30rem;
        width: 30rem;
        top: 10%;
        right: -5rem;
      }

      &--sm {
        border: 45px solid $bg-shape-color;
        height: 250px;
        width: 250px;
        bottom: 20%;
        left: 10rem;
      }
    }
    .dots {
      position: absolute;
      background-image: radial-gradient($bg-shape-color 30%, transparent 0);
      background-size: 5em 5rem;
      background-position: 0 0;
      z-index: -1;

      &--lg {
        height: 25rem;
        width: 25rem;
        top: 5%;
        left: 10%;
      }

      &--sm {
        height: 20rem;
        width: 20rem;
        bottom: 15%;
        right: 20%;
      }
    }
  }
}

.bar--lgView,
.bar--mdView {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 1600px) {
  .bar {
    &--mdView {
      visibility: visible;
      position: static;
    }
  }
}

@media (min-width: 1800px) {
  .hero {
    .foreground {
      .browser {
        .url {
          height: 2rem;
        }
        .panel {
          &__wrapper {
            height: 45%;
          }
        }
      }
    }
  }
  .bar {
    &--lgView {
      visibility: visible;
      position: static;
    }
  }
}
