section {
  width: 100vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  height: 8vh;
  align-content: flex-end;

  .menu {
    justify-self: flex-end;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(300px, 500px)) 1fr;
  grid-gap: 5rem;
  height: 70vh;
  margin-top: 15rem;

  .heading {
    grid-column: 2 / 3;

    & h3 {
      max-width: 40rem;
    }

    & h4 {
      max-width: 27ch;
    }
  }

  .browser {
    justify-self: flex-end;

    .dots {
      z-index: 1;
    }
  }

  .cta {
    grid-column: 1 / -1;
    margin-top: 10rem;
    &__btn {
      margin-top: 1.5rem;
    }
  }
}

.about {
  &__wrapper {
    // max-width: 90rem;
    margin: 0 auto;
    margin-top: 20rem;
    margin-bottom: 50rem;
    display: grid;
    grid-template-columns: 1fr minmax(320px, 350px) 100px minmax(320px, 350px) 1fr;
    grid-gap: 3rem;
  }

  & h1 {
    grid-column: 2;
  }

  &__text {
    grid-column: 4;
  }
}

.work {
  position: relative;
  max-width: 90rem;
  width: 100vw;
  height: 170rem;
  margin: 0 auto;
}

.footer {
  height: 100vh;
  position: relative;
  background-color: $base-color-dark;
  &__wrapper {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
    padding-top: 15rem;
    display: grid;
    grid-template-columns: 1fr 50rem;

    h1,
    h3 {
      grid-column: 1 / 2;
    }

    p,
    .btn {
      grid-column: 2 / -1;
    }

    p {
      margin-bottom: 1rem;

      &:nth-of-type(2),
      &:last-of-type {
        margin-bottom: 3rem;
      }
    }

    .btn {
      margin-bottom: 12rem;
    }
  }
}

@media only screen and (max-width: $ds-shmedium) {
  .hero {
    .browser {
      height: 90%;
    }
  }
}

@media only screen and (max-width: $ds-medium) {
  .hero {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 450px) 1fr;
    grid-template-rows: 300px 300px auto;
    grid-gap: 9rem 5rem;
    margin-top: 7rem;

    .browser {
      grid-row: 1;
      grid-column: 2;
      justify-self: auto;
    }

    .heading {
      width: 100%;
      grid-row: 2;
      grid-column: 2;
    }

    .cta {
      grid-row: 3;
      grid-column: 2;
      margin-top: 0;
    }
  }

  .about {
    &__wrapper {
      grid-template-columns: 1fr minmax(300px, 555px) 1fr;
      grid-template-rows: auto auto 255px auto;
      margin-top: 40rem;
      grid-row-gap: 1rem;
    }

    h1,
    h4,
    &__text {
      grid-column: 2;
    }

    h4 {
      grid-row: 1;
    }
  }
}

@media only screen and (max-width: $ds-small) {
  nav {
    height: 5vh;
  }

  .hero {
    margin-top: 5rem;

    .heading {
      margin-top: -5rem;
    }
  }

  .about {
    .divider {
      grid-column: 2;
    }
  }
}
