section {
  width: 100vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  height: 15vh;
}

.hero {
  max-width: 90rem;
  margin: 0 auto;
  height: 75vh;
  // height: 80vh;
}

.about {
  &__wrapper {
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2,
    h4,
    p {
      margin-top: 5rem;
      z-index: 1;
    }
  }

  &__text {
    justify-self: flex-end;
  }

  margin-top: 5rem;
}
