nav {
  position: relative;
  z-index: 2;
  margin: 1rem auto 0 auto;

  a {
    width: 5rem;
  }

  .logo {
    fill: $base-color-blue;
  }

  .menu {
    height: 50px;
    width: 50px;
    background: $base-color-blue;
  }
}
