nav {
  position: relative;
  z-index: 2;
  margin: 1rem auto 0 auto;

  .navigation__logo {
    &:after {
      visibility: hidden;
    }
  }

  .logo {
    fill: $base-color-blue;
    width: 5rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-gap: 2rem;
    list-style: none;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    justify-items: flex-end;
    justify-content: flex-end;
  }
}
