/* Base Colors */
$primary-color-blue: hsla(228, 92%, 60%, 1);

/* Browser Colors */
$browser-bg-color: #e9e9f6;
$url-color: #555a70;
$bar-color: #97b2e7;
$panel-color: #f7f6ff;

/* Shapes Colors */
$hero-bar-color: hsla(228, 92%, 60%, 1);
$bg-shape-color: hsla(235, 100%, 95%, 1);
