/* Base Colors */
$primary-color-blue: hsla(228, 92%, 60%, 1);

/* Browser Colors */
$browser-bg-color: #f6e9e9;
$url-color: #555a70;
$bar-color: #97b2e7;
$panel-color: #fff6f6;

/* Header Background */
$bg-shape-color: rgb(253, 244, 244);

/* Shapes Colors */
$hero-bar-color: hsla(228, 92%, 60%, 1);
