.work {
  h1 {
    color: $base-color-dark;
    max-width: 25ch;
  }

  // Styling the subtitle (02. Work)
  h1 + h4 {
    color: $base-color-lightgrey;
    opacity: 1;
  }

  .divider {
    background-color: $base-color-lightgrey;
  }

  &__shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    .sphere {
      &-1 {
        top: 17rem;
        left: -3%;
      }

      &-2 {
        top: 83rem;
        left: 84%;
      }

      &-3 {
        top: 6rem;
        left: 80%;
      }

      &-4 {
        top: 94rem;
        left: 10%;
      }

      &-5 {
        top: 33rem;
        left: 93%;
      }
    }
  }

  ul {
    list-style: none;
  }

  .cards__wrapper {
    margin-top: 6rem;
  }

  .card {
    height: 35rem;
    background-image: linear-gradient(
      left bottom,
      hsla(229, 12%, 48%, 1) 10%,
      hsla(229, 12%, 36%, 1) 100%
    );
    border-radius: 1.5rem;
    box-shadow: $medium-shadow;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-0.5rem) scale(1.01);
      box-shadow: (4px 15px 25px -3px rgba(71, 71, 71, 0.65));
    }

    &__title {
      color: hsla(224, 16%, 89%, 1);
      font-size: 5rem;
    }

    &__link {
      height: inherit;
      color: hsla(235, 49%, 75%, 1);
      text-decoration: none;

      &:hover {
        color: none;
      }
    }

    &__view {
      display: flex;
      align-items: center;

      .arrow {
        width: 3rem;
        fill: hsla(235, 49%, 75%, 1);
      }
    }

    &__img {
      width: 40rem;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        z-index: -1;
        justify-self: center;
        position: absolute;
        top: -7rem;
        left: 1rem;
        height: 380px;
        width: 380px;
        border-radius: 50%;
        background-color: hsla(242, 89%, 72%, 0);
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbc0ce' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }
}

@media only screen and (max-width: $ds-725) {
  .work {
    .card {
      &__img {
        width: 35rem;
        &::after {
          top: 0rem;
          left: -1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $ds-shmedium) {
  .work {
    .card {
      &__title {
        font-size: 3.5rem;
      }
      &__img {
        width: 29rem;
        align-self: center;
        &::after {
          left: -4rem;
        }
      }
    }
  }
}
