.work {
  h1 {
    color: $base-color-dark;
    max-width: 25ch;
  }

  h1 + h4 {
    color: $base-color-lightgrey;
    opacity: 1;
  }

  .divider {
    background-color: $base-color-lightgrey;
  }

  &__shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    .sphere {
      &-1 {
        top: 17rem;
        left: -3%;
      }

      &-2 {
        top: 83rem;
        left: 84%;
      }

      &-3 {
        top: 6rem;
        left: 80%;
      }

      &-4 {
        top: 94rem;
        left: 10%;
      }

      &-5 {
        top: 33rem;
        left: 93%;
      }
    }
  }

  &__card {
    --cardHeight: 35rem;
    --mockupHeight: 230px;
    height: var(--cardHeight);
    border-radius: 1.5rem;
    background-image: linear-gradient(
      to right,
      hsla(229, 12%, 48%, 1) 10%,
      hsla(229, 12%, 36%, 1) 100%
    );

    color: hsla(235, 49%, 75%, 1);
    margin-bottom: 8rem;
    box-shadow: $medium-shadow;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    h2,
    h4 {
      z-index: 10;
    }

    h2 {
      color: hsla(224, 16%, 89%, 1);
    }

    &:hover {
      transform: translateY(-0.5rem) scale(1.01);
      box-shadow: (4px 15px 25px -3px rgba(71, 71, 71, 0.65));
    }

    &--wrapper {
      width: fit-content;
      margin: 0 auto;
    }

    .img__wrapper {
      width: 40rem;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        z-index: -1;
        justify-self: center;
        position: absolute;
        top: -7rem;
        left: 1rem;
        height: 380px;
        width: 380px;
        border-radius: 50%;
        background-color: hsla(242, 89%, 72%, 0);
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bbc0ce' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }

    .card {
      position: relative;
      &--accent {
        clip-path: polygon(69% 0, 100% 0, 100% 100%, 0% 100%);
        background: radial-gradient(
          farthest-corner at 120px 190px,
          hsla(260, 50%, 99%, 0.65) 0%,
          hsla(236, 69%, 94%, 0.85) 43%,
          hsla(258, 74%, 99%, 1) 100%
        );
        height: calc(var(--cardHeight) + 2px);
        width: 60rem;
        position: absolute;
      }

      &--title {
        font-weight: 900;
        font-size: 4.5rem;
        letter-spacing: 1px;
      }
    }

    .view {
      &__wrapper {
        // position: absolute;
        // bottom: 2rem;
        display: flex;
        align-items: center;

        p {
          text-transform: lowercase;
          letter-spacing: 1px;
        }
      }
      &--arrow {
        height: 4rem;
        width: 4rem;
        fill: currentColor;
      }
    }
  }
}

@media only screen and (max-width: $ds-725) {
  .work {
    &__card {
      padding-bottom: 2rem;
      .img__wrapper {
        width: 35rem;
        &::after {
          top: 0rem;
          left: -1.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $ds-shmedium) {
  .work {
    &__card {
      .card--title {
        font-size: 3rem;
        letter-spacing: 1px;
      }
      .img__wrapper {
        width: 29rem;
        align-self: center;
        &::after {
          left: -4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: $ds-small) {
  // .work {
  //   &__card {
  //     .card {
  //       &--accent {
  //         width: 27rem;
  //         right: -91px;
  //       }

  //       &--title {
  //         font-size: var(--h2);
  //         letter-spacing: 0px;
  //       }
  //     }

  //     .view__wrapper {
  //       visibility: hidden;
  //     }

  //     .img__wrapper {
  //       right: -9rem;
  //       top: 11.5rem;
  //       width: 33rem;
  //     }
  //   }
  // }
}
